{% extends "structure.html" %}

{% block main %}

 <h1>Dashboard</h1>
 <p>{{message}}</p>

 

 <form method="get" action="/logout">
    <button type="submit">Logout</button>
 </form>

 <br>

 <div>Add new list:
   <form action="/add" method="POST">
    <input placeholder="Listname" type="text" name="name">
    <button type='submit'>Add</button>
   </form>
 </div>

 <div>Delete list:
   <form action="/dell" method="POST">
    <input placeholder="Listname" type="text" name="name">
    <button type='submit'>Delete</button>
   </form>
 </div>

 <div>Rename list:
   <form action="/update" method="POST">
    <input placeholder="Number" type="int" name="number">
    <input placeholder="Newname" type="text" name="name">
    <button type='submit'>Rename</button>
   </form>
 </div>

 <p>To do Lists:</p>
 


 {% for i in todolist %}
 <a href="/todolist" > {{ '{}. {} - {}'.format(i[0],i[1],i[2]) }}</a>
 <br>
 {% endfor %}

 {% endblock main %}
