{% extends "structure.html" %}

{% block main %}

 <div class="module darken">
 <h1 >Home Page</h1>
 <p >{{message}}</p>

 <form method="get" action="/aboutus">
    <button style="color: white;" class="btn btn-info" type="submit">About Us</button>
 </form>

 <form method="get" action="/termsofuse">
    <button style="color: white;" class="btn btn-info" type="submit">Terms of Use</button>
 </form>

 <form method="get" action="/privacy">
    <button style="color: white;" class="btn btn-info" type="submit">Privacy</button>
 </form>
 </div>

{% endblock main %}
