{% extends "structure.html" %}

{% block main %}
<br>
<br>
<br>
<br>
<div class="module darken">
<h1 class="h1 mb-3 fw-normal">Sign up Page</h1>
 <h2 class="h2 mb-3 fw-normal">{{message}}</h2>
 <form action="/signup" method="POST" class="form-signin">
   <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
   <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
   <br>
   <button style="color: white;" class="w-100 btn btn-lg btn-info" type="submit">Sign up</button>
</form>
</div>
{% endblock main %}
