{% extends "structure.html" %}

{% block main %}
 <p>{{message}}</p>
 <h1>Tasks Page</h1>

 <div>Add new task:
  <form action="/addtask" method="POST">
   <input placeholder="Taskname" type="text" name="name">
   <button type='submit'>Add</button>
  </form>
 </div>

 <div>Delete task:
  <form action="/deltask" method="POST">
   <input placeholder="Taskname" type="text" name="name">
   <button type='submit'>Delete</button>
  </form>
 </div>

 <div>Rename task:
  <form action="/updatetask" method="POST">
   <input placeholder="Number" type="int" name="number">
   <input placeholder="Newname" type="text" name="name">
   <button type='submit'>Rename</button>
  </form>
</div>

 <div>
  <p>Tasks:</p>
   {% for i in alltasks %}
   <input type="checkbox">{{ '{}. {} - {}'.format(i[0],i[1],i[2]) }}<br>
   {% endfor %}
 </div>





{% endblock main %}
