{% extends "structure.html" %}

{% block main %}

<div class="module darken">

   <br>
   <br>
   <br>
   <br>

 <h1>Tasks Page</h1>
 <h3>List name: {{listname}}</h3>
 <p>{{message}}</p>


 <div>Add new task:
  <form action="/addtask" method="POST">
   <input autofocus="autofocus" class="form-control mr-sm-2" placeholder="Taskname" type="text" name="name">
   <button class="btn btn-info" type='submit'>Add</button>
   <input value="{{idlistt}}" type="hidden" name="idlistt" >
  </form>
 </div>




  <p>Tasks:</p>
  
   {% for i in alltasks %}
  
   <div style="display: inline-flex;height: 50px;">
    <input style="width: 22px; height: 22px;" class="form-check-input" type="checkbox"><h3 class="h3 mb-auto fw-bold">{{ '{} - {}'.format(i[1],i[2]) }}</h3>
  

   <div>
    <form action="/deltask" method="POST">
     <input value="{{i[1]}}" type="hidden" name="name">
     <input value="{{idlist}}" type="hidden" name="idlistt" >
     <button style="height: 50px;" class="btn btn-info" type='submit'>Del</button>
    </form>
   </div>

   <div>
    <form action="/updatetask" method="POST">
     <input value="{{i[0]}}" type="hidden" name="number">
     <input class="form-control-lg" placeholder="Newname" type="text" name="name">
     <input value="{{idList}}" type="hidden" name="idlistt" >
     <button style="height: 50px;" class="btn btn-info" type='submit'>Rename</button>
    </form>
   </div>

  </div>
  <br>
<br>
   {% endfor %}


</div>


{% endblock main %}
