{% extends "structure.html" %}

{% block main %}
<div class="module darken">
<h1>Users Page</h1>
<h1>{{message}}</h1>

<div class="table-responsive">
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th style="color:rgb(0, 247, 255);">#</th>
      <th style="color:rgb(0, 247, 255);">User email</th>
      <th style="color:rgb(0, 247, 255);">Datetime signed up</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ loop.index +(page-1)*per_page }}</td>
        <td>
          <form action="/userinfo" method="POST">
            <input value="{{ allusers[user][1] }}" type="hidden" name="email">
            <button class="btn btn-link" type="submit" style="color: white;">{{ allusers[user][1] }}</button>
          </form>
        </td>
        <td>{{ allusers[user][3] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{{ pagination.info }}
</div>
</div>
{% endblock main %}
