{% extends "structure.html" %}

{% block main %}
<br>
<br>
<br>
<br>
<div class="module darken">
<form action="/adminpage" method="GET">
<button style="color: white;" class="btn btn-link">Admin Page</button>
</form>

 <h1>Dashboard</h1>
 <p>{{message}}</p>

 <div>Add new list:
   <form action="/add" method="POST">
    <input autofocus="autofocus" class="form-control mr-sm-2" placeholder="Listname" type="text" name="name">
    <button class="btn btn-info" type='submit'>Add</button>
   </form>
 </div>

 



 <p>To do Lists:</p>

  {% for i in todolist %}


  <div style="display: inline-flex;">
    <form action="/todolist" method="POST">
      <input value="{{i[0]}}" type="hidden" name="idlist">
      <input value="{{i[1]}}" type="hidden" name="listname">
      <button  class="btn btn-link" style="color:white;height: 48px;" type="submit"><h3 class="h4 mb-3 fw-normal"> {{ '{}'.format(i[1]) }}</h3></a>
    </form> 
    <form action="/dell" method="POST">
      <input value="{{i[1]}}" type="hidden" name="name">
      <input value="{{i[0]}}" type="hidden" name="idlistt">
      <button style="height: 48px;" class=" btn btn-info" type='submit'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></button>
    </form>
    <form action="/update" method="POST">
      <input value="{{i[0]}}" type="hidden" name="number">
      <input style="width: 130px;" class="form-control-lg" placeholder="Newname" type="text" name="name">
      <button style="height: 48px;" class="btn btn-info" type='submit'>Rename</button>
    </form>

  </div>
  <br>
  <br>
 {% endfor %}


 {% endblock main %}
